.menu {
  font-family: Arial;
  font-size: 35px;
  display: grid;
  background: white;
  grid-template-columns: repeat(3, auto);
  text-align: center;
  position: revert; left: 8vw; top: 0vh;
}

.link {
  color: #08457e;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s, color .3s;
}

.link:visited {
  color: #08457e;
}

.link:hover {
  background-size: 70% 3px;
  color: #0d79de;
}
